{{> header}}

<h1>{{title}}</h1>

 <form action="/spy_game">
  <p><b>Введите название комнаты</b></p>
  <input type="text" name="game_id"><Br>
  <p><b>Введите количество человек</b></p>
  <input type="number" name="capacity"><Br>
  <p><b>Введите Несколько локаций (каждая с новой строки)</b></p>
  <input type="text" name="locations"><Br>
  <p><b>Ваше имя:</b></p>
  <input type="text" name="name"><Br>
  <p><input type="submit"></p>
 </form>

{{> footer}}
